{% extends 'base.html' %}
{% load static %}
{% block styles %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> <!-- for icon documentation: https://materializecss.com/icons.html-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
{% endblock %}
{% block content %}
<main id="main">
    <section id="breadcrumbs" class="breadcrumbs">
       <div class="container">
   
         <div class="d-flex justify-content-between align-items-center">
           <h2 class="font-weight-bold">A propos</h2>
           <ol>
            
             <li> Notre Histoire, notre mission, notre vision et nos valeurs</li>
           </ol>
         </div>
   
       </div>
     </section><!-- End Breadcrumbs -->
     <div class="container-fluid" style="background-color:whitesmoke;">
         <h3 class="mt-5 mb-5 ml-2 mr-2 text-center" style="color:violet">« Elle sait apaiser Romy en caressant ainsi son 
            crâne pour l’entraîner dans un semi-coma où le corps gringalet sera à sa merci.»</h3>

     </div>

     <section id="about-us" class="about-us" style="border-bottom: 1px solid darkblue;">
        <div class="container" data-aos="fade-up">
  
          <div class="row ">
            <div class="col-lg-6" data-aos="fade-right">
              <h2 style="font-family: Pacifico;font-size: 60px; color:darkblue; text-shadow: 2px 4px yellow;">Notre Histoire</h2>
             
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left" style=" font-size: 16px;">
              <p class="text-justify" >
                «France adore laisser ses doigts entortiller les boucles blondes. Elle sait apaiser Romy en caressant ainsi son 
                crâne pour l’entraîner dans un semi-coma où le corps gringalet sera à sa merci.» 

                Toul, 1999. À neuf ans, Romy est abusée pour la première fois par France, une voisine. 
                Son enfance soudain se déchire comme une robe de princesse. Romy entre en guerre. De neuf à dix-neuf ans, nous 
                la voyons se battre contre le chaos qui grandit, contre l’attachement invivable qu’elle ressent pour France, 
                contre un ordre social dont elle ne comprend pas les règles, contre ce corps féminin qui va devenir son principal ennemi.
                La romancière s’attache à peindre, avec un sens exceptionnel de l’observation, un milieu social et géographique 
                que la littérature fréquente rarement : tous les personnages sont des militaires de la base de Toul, des ouvriers de 
                chez Kleber, des zonards du canal, toujours décrits avec une empathie discrète. Un premier roman implacable, radical.
              </p>
             
            
            </div>
          </div>
    
        </div>
      </section><!-- End About Us Section -->

      <section id="about-us" class="about-us" style="background-color: whitesmoke; border-bottom: 1px solid darkgoldenrod;" >
        <div class="container" data-aos="fade-up">
  
          <div class="row ">
            <div class="col-lg-6" data-aos="fade-right">
              <h2 style="font-family: Pacifico;font-size: 60px; color:darkgoldenrod; text-shadow: 2px 4px yellow;">Notre Mission</h2>
             
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left" style=" font-size: 16px;">
              <p class="text-justify">
                Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                culpa qui officia deserunt mollit anim id est laborum
              </p>
              <ul>
                <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequa</li>
                <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
                <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in</li>
              </ul>
              <p class="font-italic">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua.
              </p>
            </div>
          </div>
    
        </div>
      </section><!-- End About Us Section -->

      <section id="about-us" class="about-us" style="border-bottom: 1px solid blue;">
        <div class="container" data-aos="fade-up">
  
          <div class="row ">
            <div class="col-lg-6" data-aos="fade-right">
              <h2 style="font-family: Pacifico;font-size: 60px; color:blue; text-shadow: 2px 4px yellow;">Notre Vision</h2>
             
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left" style=" font-size: 16px;">
              <p class="text-justify">
                Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                culpa qui officia deserunt mollit anim id est laborum
              </p>
              <ul>
                <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequa</li>
                <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
                <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in</li>
              </ul>
              <p class="font-italic">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua.
              </p>
            </div>
          </div>
    
        </div>
      </section><!-- End About Us Section -->

      <section id="about-us" class="about-us" style="background-color: whitesmoke" >
        <div class="container" data-aos="fade-up">
  
          <div class="row ">
            <div class="col-lg-6" data-aos="fade-right">
              <h2 style="font-family: Pacifico;font-size: 60px; color:skyblue; text-shadow: 2px 4px yellow;">Nos valeurs</h2>
             
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left" style=" font-size: 16px;">
              <p class="text-justify">
                Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                culpa qui officia deserunt mollit anim id est laborum
              </p>
              <ul>
                <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequa</li>
                <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
                <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in</li>
              </ul>
              <p class="font-italic">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua.
              </p>
            </div>
          </div>
    
        </div>
      </section><!-- End About Us Section -->



</main>   

{% endblock %}