{% load static %}
{% load pwa %}

<!DOCTYPE html>
<html lang="en">

<head>
  
  {% progressive_web_app_meta %}
  <link rel="manifest" href ="manifest.json">
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Editions Pulucia</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> <!-- login page style-->

  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/animate.css/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css"></link> <!-- side menu formation dashboard-->
  <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
  {% block extra_head %}
  {% endblock %}

  {% block styles %} <!-- to add an other style css-->
  {% endblock %}

  <!-- Template Main CSS File -->
  
  <link href="{% static 'css/style1.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> 

  <!-- =======================================================
  * Template Name: Company - v2.1.0
  * Template URL: https://bootstrapmade.com/company-free-html-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
{% autoescape off %}
<body>
<style>

  .nav-menu ul li a, .logo a{
    text-decoration: none;
  }

  .logo a:hover{
    box-shadow: 0 0px 5px 0 rgba(0, 0, 0, .2), 0 2px 2px -11px rgb(102, 115, 252, 0.2);
  }

  @media only screen
    and (max-device-width : 768px)
    and (max-device-width : 991px){
  .mobile-login1{
    width: 80%;
    margin-top: 1%;
    margin-left:20%
  }} 

  @media only screen
    and (max-device-width : 768px)
    and (max-device-width : 991px){
    .logo_img{
    display: none;
}}

@media only screen
    and (min-device-width : 768px)
    and (min-device-width : 991px){
    .logo{
    display: none;
}}

#header .logo {
  font-size: 18px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

#header .logo a {
  color:skyblue;
}

#header .logo a span {
  color: #0000CD;
}
/* hide navbar when scroll down*/
/*.smart-scroll{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.scrolled-down{
   transform:translateY(-100%); transition: top 0.3s ease-in-out;
}
.scrolled-up{
   transform:translateY(0); transition: top 0.3s ease-in-out;
}*/

  
</style>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top  smart-scroll navbar-expand-lg">
    <div class="container d-flex align-items-center">
      <!-- script to hide header on scroll down-->
     <!-- <script>
        $('body').css('padding-top', $('.fixed-top').outerHeight() + 'px')
        if ($('.smart-scroll').length > 0) { // check if element exists
    var last_scroll_top = 0;
    $(window).on('scroll', function() {
        scroll_top = $(this).scrollTop();
        if(scroll_top < last_scroll_top) {
            $('.smart-scroll').removeClass('scrolled-down').addClass('scrolled-up');
        }
        else {
            $('.smart-scroll').removeClass('scrolled-up').addClass('scrolled-down');
        }
        last_scroll_top = scroll_top;
    });
}
      </script>-->

 
      <h1 class="logo mr-auto ml-3"><a href="{% url 'index_page' %}"><span>Pulu</span>cia
      </a></h1>
      
      <!-- Uncomment below if you prefer to use an image logo -->
     <a href="{% url 'index_page' %}" class=" mr-auto logo_img"><img class="logo_img"  src="/static/img/logo_pulucia.png" alt="" class="img-fluid"></a>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active" ><a  href="{% url 'index_page' %}">Accueil</a></li>

          <li class="drop-down  "><a href="">A propos</a>
            <ul>
              <li><a href="{% url 'a_propos' %}">A propos</a></li>
              <li><a href="{% url 'temoignages' %}">Temoignages</a></li>
            </ul>
          </li>

          <li ><a href="{% url 'bibliotheque' %}">Bibliothèque</a></li>
          <li><a href="{% url 'librairie' %}">Librairie</a></li>
          <li><a href="{% url 'store' %}">Store</a></li>

          
          <li><a href="{% url 'evenement-main'%}">Evènements</a>
          <li><a href="{% url 'videos'%}">Vidéos</a>
          <li><a href="{% url 'projet' %}">Projets</a>

            
          </li>

          <li class="drop-down"><a href="">Publication</a>
            <ul>
              <li><a href="{% url 'publication' %}">Litteraire</a></li>
              <li><a href="{% url 'blog' %}">Articles</a></li>
            </ul>
          
          </li>
         
        </ul>
      </nav><!-- .nav-menu -->
     
      
      
      <script> // make the nav green when selected....
       $(document).ready(function() {
  $('li.active').removeClass('active');
  $('a[href="' + location.pathname + '"]').closest('li').addClass('active'); 
});
      </script> 

      <!--<div class="header-social-links">
        <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
        <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
        <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
        <a href="#" class="linkedin"><i class="icofont-linkedin"></i></a>
      </div>-->

      {% if user.is_authenticated %}
      <div class="dropdown " style="width:100%;">
      <div class="header-social-links mobile-login1" style=" float:right; margin-right:1%; ">
        <button class="btn btn-secondary dropdown-toggle"   style="background-color:whitesmoke; color:blue" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="glyphicon glyphicon-user"></span>
         {{request.user|truncatechars:6 }}
        </button>
        <div class="dropdown-menu"  aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
          <a class="dropdown-item" href="{% url 'logout' %}">Se deconnecter</a>
        </div>
        </div>
      </div>
      {% else %}
     <div class="header-social-links mobile-login1">
        <!--<a href="{% url 'login' %}" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-user"></span> Login 
        </a>-->
        <a   class="btn btn-default btn-sm " data-toggle="modal" data-target="#exampleModal">
          <span class="glyphicon glyphicon-user"></span> Login 
        </a>
        </div>
      {% endif %}
      <div class="header-social-links mobile-login1">
        <div class="add-to">
          <button class="add-to-btn btn btn-info" data-toggle="tooltip" title="Installer Pulucia app" > <i class="fas fa-download"></i> </button>
        </div>

      </div>
      <script>
        $(document).ready(function() {
    $("body").tooltip({ selector: '[data-toggle=tooltip]' });
});
      </script>
      <script type="text/javascript">
        
      
        let deferredPrompt;
        var div = document.querySelector('.add-to');
        var button = document.querySelector('.add-to-btn');
        div.style.display = 'none';
      
        window.addEventListener('beforeinstallprompt', (e) => {
          // Prevent Chrome 67 and earlier from automatically showing the prompt
          e.preventDefault();
          // Stash the event so it can be triggered later.
          deferredPrompt = e;
          div.style.display = 'block';
      
          button.addEventListener('click', (e) => {
          // hide our user interface that shows our A2HS button
          div.style.display = 'none';
          // Show the prompt
          deferredPrompt.prompt();
          // Wait for the user to respond to the prompt
          deferredPrompt.userChoice
            .then((choiceResult) => {
              if (choiceResult.outcome === 'accepted') {
                console.log('User accepted the A2HS prompt');
              } else {
                console.log('User dismissed the A2HS prompt');
              }
              deferredPrompt = null;
            });
        });
        });
      
      </script>

    
  </header><!-- End Header -->

<!-- modal login methode-->  
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title font-weight-bold text-success h4" id="exampleModalLabel">Se connecter avec : </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
       
        
        <form  action =""  method="POST"  enctype="multipart/form-data"  novalidate>
          {% csrf_token %}
          <input type="hidden" name="next" value="{{request.get_full_path }}"/>

        
        <div class="container-fluid">
          <a href="{% url 'login' %}" class="btn btn-info text-white font-weight-bold mb-3" style="width: 60%;"> <span class="glyphicon glyphicon-user"></span> Username </a>
          <a href="{% url 'social:begin' 'facebook' %}?next={{request.build_absolute_uri}}" class="btn btn-primary text-white font-weight-bold mb-3" style="width: 60%;"> Facebook</a>
          <a href="{% url 'social:begin' 'google-oauth2' %}?next={{request.build_absolute_uri}}" class="btn btn-warning text-white font-weight-bold mb-3" style="width: 60%;"><i class="far fa-envelope"></i> Google</a><br>
          <a href="{% url 'inscrire' %}"  class="btn btn-success btn-sm text-white font-weight-bold"><i class="fas fa-sign-in-alt"></i> Inscrire</a>
       
        </div>
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
       
      </div>
    </div>
  </div>
</div>


  {% block content %}
                  

  {% endblock %}
  
  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Editions Pulucia</h3>
            <p>
             514 lidgerwood ave <br>
              NJ, NJ 07202<br>
              United States <br><br>
              <strong>Phone:</strong> +1 929 289 7376<br>
              <strong>Email:</strong> peronneaumoliere@gmail.com<br>
              <strong><a class="text-white" href="#1">Contact</a></strong><br><br>
              <strong><a class="text-white" href="{% url 'confidentialite' %}">1- Politiques de confidentialité</a></strong><br>
              <strong><a class="text-white" href="{% url 'confidentialite1' %}">2- Clause de non-responsabilité des affiliés Amazon</a></strong>

            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
           
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            {% include 'email.html' %}
          </div>

          <!-- submit email script-->
          <script type="text/javascript"> 
            $(document).on('click', '#submit_email', function(event){
                      event.preventDefault();
                      $.ajax({
                        type: 'POST',
                        url: '{% url  "email-info"   %}',
                        data: { 
                        email2 : $('#email').val(), 
                        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                        action: 'post'},
                        dataType: 'json',
                        success: function(data){
                          if (data.form_is_valid) {
                            document.getElementById("email-form").reset();
                            swal("", "Pulucia vous remercie! Votre adresse electronique a été soumis avec succès!", "success");
                              }
                          else {
                            swal("", "Votre adresse electronique est incorrect. Veuillez le coriger et le soumettre à nouveau!", "warning");}
                        },
                        error: function(rs, e){
                          console.log(rs.responseText);
                        },
                      });
                
                    });
            </script>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>Editions Pulucia</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/company-free-html-bootstrap-template/ -->
          Designed by <a href="https://bootstrapmade.com/"> Peronneau Moliere</a><br>
          Email: <a href="https://bootstrapmade.com/"> peronneaumoliere@gmail.com</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'vendor/jquery-sticky/jquery.sticky.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script> <!-- sweetAlert : https://www.freecodecamp.org/news/how-to-build-a-javascript-alert-box-or-popup-window/-->
  
  
  
  
  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script> <!-- side menu dashboard formation-->
  {% block js %}
  {% endblock %}
</body>
{% endautoescape %}

</html>