{% extends 'base.html' %}
{% load static %}
{% block styles %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> <!-- for icon documentation: https://materializecss.com/icons.html-->
{% endblock %}


{% block content %}
<style>
  .profile-content {
  overflow: hidden;
  }
  
  .row:before, .row::after{
          display:none !important;
      }
  .page-breadcrumb {
  display: inline-block;
  float: left;
  margin: 0;
  list-style: none;
  background-color: transparent;
  border-radius: 50px;
  background: rgba(220, 208, 208, 0.5);
  padding-left: 20px !important;
  padding-right: 20px !important;
  padding-top: 5px !important;
  padding-bottom: 8px !important;
  }
  
  .page-breadcrumb li a{
      text-decoration: none;
  }
  
  .page-breadcrumb:hover{
      background: rgba(220, 208, 208, 0.7);
  
  }
  .home {
      position: relative;
      top: 4px;
      display: inline-block;
      font-style: normal;
      font-weight: 400;
      line-height: 1; 
  }
  
  .shadow-card{
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
}

.card-title a:hover{
  color:darkblue;
  text-decoration: none;

}
@media only screen
        and (max-device-width : 768px)
        and (max-device-width : 991px){
    .margin-top-main-page{
      margin-top:-6%
    
    }
    .font-size-head{
      font-size:15px;
    }
  }
  
  @media only screen
        and (min-device-width : 768px)
        and (min-device-width : 991px){
  .font-size-head{
      font-size:28px;
      margin-top: 2%
    }}
  
  @media only screen
        and (min-device-width : 768px)
        and (min-device-width : 991px){
  .margin-video{
    margin-top:-5%;
    }}
  
  @media only screen
        and (max-device-width : 768px)
        and (max-device-width : 991px){
  .margin-video{
    margin-top:-20%;
    }}

    @media only screen
    and (max-device-width : 768px)
    and (max-device-width : 991px){
  .mobile-nav-toggle {
    position:fixed;
   top:8px
     
}}
  </style>
<main id="main"  class="margin-top-main-page" style="background-color:white;">
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

           
    
            <div class="d-flex justify-content-between align-items-center">
                <p class="font-size-head text-white"> <strong>Nos evènements</strong><p>
                <ol>
                  <li>Evènements Editions Pulucia et partenaires</li>
                  
                </ol>
              </div>
  
        </div>
      </section><!-- End Breadcrumbs -->

    
    <div class="container-fluid" style="margin-top:20px">
        <div class="row">
            <div class="col-md-12" >
                <section id="team" class="team section-bg" data-aos="fade-up" style="background-color: white;">
                    <div class="container">
                      <div class="row margin-video">
                        {% for evenement in evenement %}
                        <div class="col-md-4 mb-4 " data-aos="zoom-in">
                          <div class="card card-blog shadow-card">
                            <div class="card-img ">
                              <a href="{% url 'evenement'  evenement.pk %}"><img src="{{evenement.image_cover.url}}" 
                                alt="" class="img-fluid" style="height: 280px;"></a>
                            </div>
                            <div class="card-body ">
                              
                              <h3 class="card-title"><a  href="{% url 'evenement'  evenement.pk %}">{{evenement.titre}}</a></h3>
                              <p class="card-description">
                                {{evenement.description|truncatewords:20}}
                              </p>
                            </div>
                          </div>
                        </div>
                        {% endfor %}

                      </div> <!--end row-->
                    </div>
                   
                  </section>
    
    
            </div>
        
        </div>
    </div> <!-- end container-->
    </main>


{% endblock %}