{% extends 'base.html' %}
{% load static %}
{% block styles %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> <!-- for icon documentation: https://materializecss.com/icons.html-->
{% endblock %}
{% block content %}

{% block extra_head %}
<meta property="og:title" content="{{projet_d.titre}}" />
<meta property="og:description" content=" {{ projet_d.description|truncatewords:30 }}" />
<meta property="og:image" content="{{projet_d.cover_img.url}}" />
{% endblock %}

<style>
.shadow-card{
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
@media only screen
    and (max-device-width : 768px)
    and (max-device-width : 991px) {
.article1{
    font-size: 22px;
    margin-left: 2px;
    margin-right: 2px;
}
}
.img-source img{
    position: relative;
}

.img-source small{
    position:absolute;
    top:100%;
}
.margin-projet{
    margin-left:10%;
    margin-right: 10%;
}
@media only screen
      and (max-device-width : 768px)
      and (max-device-width : 991px){
.margin-projet{
    margin-left:3%;
    margin-right: 3%;
}}

@media only screen
      and (max-device-width : 768px)
      and (max-device-width : 991px){
  .margin-top-main-page{
    margin-top:-15%
  
  }}

  @media (max-width: 991px){
  .mobile-nav-toggle {
   position:fixed;
   top:8px
     
}} 

@media only screen
      and (max-device-width : 768px)
      and (max-device-width : 991px){
.entry-img{
    margin-left: -12%;
    margin-right:-12%;
    
}}

</style>

<main style="background-color: whitesmoke">
    

    <div class="container mb-5 margin-top-main-page">

        <!--Grid row-->
        <div class="row " style="margin-top: 120px;">

            <!--Grid column-->
            <div class="col-md-12 px-lg-5">
                <!--Card-->
                <div class="card pb-5 mx-md-5 shadow-card" >
                    <div class="card-body">

                        <div class="container-fluid">

                            <!--Section heading-->
                            <h1 class="text-center h1 pt-4 mb-3 article1">
                                <strong> {{projet_d.titre}}</strong>
                            </h1>

                          

                            <!--Grid row-->
                            <div class="row pt-lg-5 pt-3  text-justify margin-projet">

                                <!--Grid column-->
                                <div class="col-md-12 col-xl-12">

                                    <div class="row"> <!--image article-->
                                        <div class="col-md-12 col-xl-12 d-flex justify-content-center mb-5 img-source">
                                            <div class="entry-img">
                                            <img class="img-fluid" src="/static/img/slide/slide-1.jpg" alt="">
                                            </div>
                                            <small style="font-style: italic;">Moliere Peronneau sur scene en Janvier 2014</small>
                                        </div>
                                       </div>

                                       <a data-toggle="modal" data-target="#modalpayment" type="button"  class="container-fluid text-center btn btn-success font-weight-bold" style="font-size:16px; color:white;">
                                        <i class="fas fa-hand-holding-usd"></i>  Cliquer ici et faire un don!

                                       </a>
                                       <!-- modal payment don-->
                                       <div class="modal fade" id="modalpayment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <h5 class="modal-title" id="exampleModalLabel">Choisir un moyen de paiement et faire un don</h5>
                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                              </button>
                                            </div>
                                            <div class="modal-body">
                                               
                                                    
                                                    
                                                        <div class="box-element" id="form-wrapper">
                                                            <form id="form_don" method="POST" action="">
                                                                {% csrf_token %}
                                                                <div id="user-info">
                                                                    <div class="form-field mb-3">
                                                                        <input  class="form-control" type="text" name="name"  id="name" placeholder="Nom et Prenom">
                                                                    </div>
                                                                    <div class="form-field mb-3">
                                                                        <input  class="form-control" type="email" name="email" id="email" placeholder="Adresse Electronique">
                                                                    </div>
                                                                    <div class="form-field mb-5">
                                                                        <input  class="form-control" type="text" name="don" id="don" placeholder="Montant du don">
                                                                    </div>
                                                                    <div class="form-field mb-5">
                                                                        <input type="hidden" class="form-control" value="{{projet_d.titre}}" name="projet" id="projet" placeholder="Montant du don">
                                                                    </div>
                                                                </div>
                                                                </form>
                                
                                                        </div>
                                                                

                                                <div id="paypal-button-container"></div>
                                            </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <!--endmodalpayment-->
                                      
                                    </div>
                                    <script src="https://www.paypal.com/sdk/js?client-id=AWrTS0pPlZm2-lgpyS346AhjMRWmu1A8Q50ndMPU8JHSoXNGxU43L_490RYHNuBHXkB7H0l1QODgiDoH&currency=USD&disable-funding=credit"></script>
                                    
                                    <script>
                                       
                                         paypal.Buttons({

                                            // Set up the transaction
                                            
                                            createOrder: function(data, actions) {
                                                return actions.order.create({
                                                    purchase_units: [{
                                                        amount: {
                                                            value: document.getElementById("don").value
                                                        }
                                                    }]
                                                });
                                            },

                                            // Finalize the transaction
                                            onApprove: function(data, actions) {
                                                return actions.order.capture().then(function(details) {
                                                    // Show a success message to the buyer
                                                    submitFormData()
                                                    swal("", "Les Editions Pulucia vous remercient pour votre contribution!", "success");

     
                                                   // alert('Transaction completed by!');
                                                });
                                        }
                                            }).render('#paypal-button-container');
                                        </script>

                                    
                                    
                                    
                                    <script type="text/javascript">
                                  function  submitFormData(){
                                        
                                        $.ajax({
                                            type:'POST',
                                            url:'{% url "don-projet" %}',
                                            data:{
                                                name:$('#name').val(),
                                                email:$('#email').val(),
                                                projet:$('#projet').val(),
                                                don:$('#don').val(),
                                                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                                                action: 'post'
                                            },
                                            success:function(json){
                                                $('#modalpayment').modal('hide');
                                                $('.modal-backdrop').remove();
                                            
                                            },
                                        });
                                    };
                                </script>
                                   

                                   

                                        <!--Grid row-->
                                        <div class="row mt-3">
                                            <p class="h4" style="border-bottom: 2px solid green; width: 100%; font-weight: bold; background-color:yellow"> 
                                                <i class="fas fa-clipboard-check" style="color:green"></i> Description du projet</p>
                                            
                                            <p class="dark-grey-text article">{{projet_d.description|linebreaksbr}}</p><br><br>

                                              
                                                
                                                 
                                                  <p class="h4" style="border-bottom: 2px solid green; width: 100%; font-weight: bold; background-color:yellow"> 
                                                    <i style="color:green" class="fas fa-clipboard-check"></i> Objectifs du projet</p>
                                                  <p class="dark-grey-text article">{{projet_d.objectif|linebreaksbr}}</p>
                                                
                                                <p class="h4" style="border-bottom: 2px solid green; width: 100%; font-weight: bold; background-color:yellow"> 
                                                    <i style="color:green" class="fas fa-clipboard-check"></i> Population cible</p>
                                                <p class="dark-grey-text article">
                                                {{projet_d.cible|linebreaksbr}}</p>
                                                
                                                 
                                                 <p class="h4" style="border-bottom: 2px solid green; width: 100%; font-weight: bold; background-color:yellow"> 
                                                    <i style="color:green" class="fas fa-clipboard-check"></i> Resulats attendus</p>
                                                <p class="dark-grey-text article">
                                                {{projet_d.resultats|linebreaksbr}}
                                                
                                                </p>

                                                <p class="h4" style="border-bottom: 2px solid green; width: 100%; font-weight: bold; background-color:yellow"> 
                                                    <i style="color:green" class="fas fa-clipboard-check"></i> Phases et periode de realisation</p>
                                                <p class="dark-grey-text article">
                                                {{projet_d.phase|linebreaksbr}}
                                                
                                                </p>

                                                <p class="h4" style="border-bottom: 2px solid green; width: 100%; font-weight: bold; background-color:yellow"> 
                                                    <i style="color:green" class="fas fa-clipboard-check"></i> Budget de realisation</p>
                                                <p class="dark-grey-text article">
                                                {{projet_d.budget|linebreaksbr}}
                                                
                                                </p>

                                                <p class="h4" style="border-bottom: 2px solid green; width: 100%; font-weight: bold; background-color:yellow"> 
                                                    <i style="color:green" class="fas fa-clipboard-check"></i> Partenaires</p>
                                                <p class="dark-grey-text article">
                                                {{projet_d.partenaire|linebreaksbr}}
                                                
                                                </p>

                                        </div>
                                        <!--Grid row-->

                                </div>
                                <!--/Grid column-->

                            </div>
                            <!--/Grid row-->

                        </div>
                        <!--Grid column-->
                        <hr>
                          <div class="sharethis-inline-share-buttons mb-5" style="z-index:0"></div>
                          <script type="text/javascript" 
                  src="https://platform-api.sharethis.com/js/sharethis.js#property=5fe4098abf0cae00128712fb&product=inline-share-buttons" async="async">
               </script>
                    </div><!--card-body-->
                   
                    <!--Grid row-->

                </div>
                <!--/Card-->
            </div>
            <!--/Grid column-->
        </div>
        <!--/Grid row-->
    </div>



    
</main>

{% endblock %}

{% block js %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script> <!-- sweetAlert : https://www.freecodecamp.org/news/how-to-build-a-javascript-alert-box-or-popup-window/-->
{% endblock %}