{% extends 'base.html' %}
{% load static %}
{% block styles %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> <!-- for icon documentation: https://materializecss.com/icons.html-->
{% endblock %}
{% block content %}

{% block extra_head %}
<meta property="og:title" content="{{projet_d.titre}}" />
<meta property="og:description" content=" {{ projet_d.description|truncatewords:30 }}" />
<meta property="og:image" content="{{projet_d.cover_img.url}}" />
{% endblock %}

<style>
.shadow-card{
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
@media only screen
    and (max-device-width : 768px)
    and (max-device-width : 991px) {
.article1{
    font-size: 22px;
    margin-left: 2px;
    margin-right: 2px;
}
}
.img-source img{
    position: relative;
}

.img-source small{
    position:absolute;
    top:100%;
}
.margin-projet{
    margin-left:10%;
    margin-right: 10%;
}
@media only screen
      and (max-device-width : 768px)
      and (max-device-width : 991px){
.margin-projet{
    margin-left:3%;
    margin-right: 3%;
}}

@media only screen
      and (max-device-width : 768px)
      and (max-device-width : 991px){
  .margin-top-main-page{
    margin-top:-15%
  
  }}

  @media (max-width: 991px){
  .mobile-nav-toggle {
   position:fixed;
   top:8px
     
}} 

@media only screen
      and (max-device-width : 768px)
      and (max-device-width : 991px){
.entry-img{
    margin-left: -12%;
    margin-right:-12%;
    
}}

</style>

<main style="background-color: whitesmoke">
    

    <div class="container mb-5 margin-top-main-page">

        <!--Grid row-->
        <div class="row " style="margin-top: 120px;">

            <!--Grid column-->
            <div class="col-md-12 px-lg-5">
                <!--Card-->
                <div class="card pb-5 mx-md-5 shadow-card" >
                    <div class="card-body">

                        <div class="container-fluid">

                            <!--Section heading-->
                            <h1 class="text-center h1 pt-4 mb-3 article1">
                                <strong> {{projet_d.titre}}</strong>
                            </h1>

                          

                            <!--Grid row-->
                            <div class="row pt-lg-5 pt-3  text-justify margin-projet">

                                <!--Grid column-->
                                <div class="col-md-12 col-xl-12">

                                    <div class="row"> <!--image article-->
                                        <div class="col-md-12 col-xl-12 d-flex justify-content-center mb-5 img-source">
                                            <div class="entry-img">
                                            <img class="img-fluid" src="/static/img/slide/slide-1.jpg" alt="">
                                            </div>
                                            <small style="font-style: italic;">Moliere Peronneau sur scene en Janvier 2014</small>
                                        </div>
                                       </div>

                                       <a href="#1" class="container-fluid text-center btn btn-success font-weight-bold" style="font-size:16px; color:white;">
                                        <i class="fas fa-hand-holding-usd"></i>  Cliquer ici et faire un don!

                                       </a>
                                    </div>
                                   

                                        <!--Grid row-->
                                        <div class="row mt-3">
                                            <p class="h4" style="border-bottom: 2px solid green; width: 100%; font-weight: bold; background-color:yellow"> 
                                                <i class="fas fa-clipboard-check" style="color:green"></i> Description du projet</p>
                                            
                                            <p class="dark-grey-text article">{{projet_d.description|linebreaksbr}}</p><br><br>

                                              
                                                
                                                 
                                                  <p class="h4" style="border-bottom: 2px solid green; width: 100%; font-weight: bold; background-color:yellow"> 
                                                    <i style="color:green" class="fas fa-clipboard-check"></i> Objectifs du projet</p>
                                                  <p class="dark-grey-text article">{{projet_d.objectif|linebreaksbr}}</p>
                                                
                                                <p class="h4" style="border-bottom: 2px solid green; width: 100%; font-weight: bold; background-color:yellow"> 
                                                    <i style="color:green" class="fas fa-clipboard-check"></i> Population cible</p>
                                                <p class="dark-grey-text article">
                                                {{projet_d.cible|linebreaksbr}}</p>
                                                
                                                 
                                                 <p class="h4" style="border-bottom: 2px solid green; width: 100%; font-weight: bold; background-color:yellow"> 
                                                    <i style="color:green" class="fas fa-clipboard-check"></i> Resulats attendus</p>
                                                <p class="dark-grey-text article">
                                                {{projet_d.resultats|linebreaksbr}}
                                                
                                                </p>

                                                <p class="h4" style="border-bottom: 2px solid green; width: 100%; font-weight: bold; background-color:yellow"> 
                                                    <i style="color:green" class="fas fa-clipboard-check"></i> Phases et periode de realisation</p>
                                                <p class="dark-grey-text article">
                                                {{projet_d.phase|linebreaksbr}}
                                                
                                                </p>

                                                <p class="h4" style="border-bottom: 2px solid green; width: 100%; font-weight: bold; background-color:yellow"> 
                                                    <i style="color:green" class="fas fa-clipboard-check"></i> Budget de realisation</p>
                                                <p class="dark-grey-text article">
                                                {{projet_d.budget|linebreaksbr}}
                                                
                                                </p>

                                                <p class="h4" style="border-bottom: 2px solid green; width: 100%; font-weight: bold; background-color:yellow"> 
                                                    <i style="color:green" class="fas fa-clipboard-check"></i> Partenaires</p>
                                                <p class="dark-grey-text article">
                                                {{projet_d.partenaire|linebreaksbr}}
                                                
                                                </p>

                                        </div>
                                        <!--Grid row-->

                                </div>
                                <!--/Grid column-->

                            </div>
                            <!--/Grid row-->

                        </div>
                        <!--Grid column-->
                        <hr>
                          <div class="sharethis-inline-share-buttons mb-5" style="z-index:0"></div>
                          <script type="text/javascript" 
                  src="https://platform-api.sharethis.com/js/sharethis.js#property=5fe4098abf0cae00128712fb&product=inline-share-buttons" async="async">
               </script>
                    </div><!--card-body-->
                   
                    <!--Grid row-->

                </div>
                <!--/Card-->
            </div>
            <!--/Grid column-->
        </div>
        <!--/Grid row-->
    </div>



    
</main>

{% endblock %}