{% extends 'base.html' %}
{% load static %}
{% block styles %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> <!-- for icon documentation: https://materializecss.com/icons.html-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
{% endblock %}
{% block extra_head %}
<meta property="og:title" content="{{text_d.titre}}" />
{% if text_d.poeme %}
<meta property="og:description" content="{{text_d.poeme|truncatewords:20}}"/>
{% else %}
<meta property="og:description" content="{{text_d.text|truncatewords:20}}"/>
{% endif %}

{% if text_d.poeme %}
<meta property="og:image" content="/static/img/poesie.jpg"/>
{% else %}
<meta property="og:image" content="/static/img/conte.jpg"/>
{% endif %}
{% endblock %}

{% block content %}

<style>
.shadow-card{
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.6);
}
.img-source img{
    position: relative;
   

}

.row:before, .row::after{
            display:none !important;
        }

.img-source small{
    position:absolute;
    top:100%;
}
.margin-article{
    margin-left:6%;
    margin-right: 6%;
}

@media (max-width: 991px){
.margin-article {
    margin-left:0;
    margin-right:0;
}
}

@media (max-width: 991px){
.article{
    margin-left: 1px;
    margin-right: 1px;
}
}

@media (max-width: 991px){
.article1{
    font-size: 22px;
    margin-left: 2px;
    margin-right: 2px;
}
}

@media (max-width: 780px) {
    .article {
        font-size: 16px;
        line-height: 30px;
    }
}

.article{
    font-size: 17px;
    line-height: 3rem;
}
.margin_collapse{
    margin-left:7.2%; 
    margin-right: 7.2%;

}

@media (max-width: 991px) {
    .margin_collapse{
    margin-left:1%; 
    margin-right: 1%;

}
}

.row:before, .row::after{
            display:none !important;
        }

@media (min-width: 0) {
    .g-mr-15 {
        margin-right: 1.07143rem !important;
    }
}
@media (min-width: 0){
    .g-mt-3 {
        margin-top: 0.21429rem !important;
    }
}

.g-height-50 {
    height: 50px;
}

.g-width-50 {
    width: 50px !important;
}

@media (min-width: 0){
    .g-pa-30 {
        padding: 1.14286rem !important;
    }
}

.g-bg-secondary {
    background-color: white !important;
}

.u-shadow-v18 {
    box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.15);
}

.g-color-gray-dark-v4 {
    color: #777 !important;
}

.g-font-size-12 {
    font-size: 0.85714rem !important;
}

.media-comment {
    margin-top:0px;
    margin-right: 1.7%;
   
}

@media (max-width: 991px){
    .media-comment {
    margin-top:0px;
    margin-right: -4%;
    margin-left:-3%
}}


@media (max-width: 991px){
.m-comment{
    margin-left:0px;
    margin-top:-1%
   
}}

.m-comment{
    margin-left: -1%;
    margin-top:-0.2%;
}

.hover-auteur a:hover{
    text-shadow: 2px 2px yellow;

}


.bg-color{
    background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;

    font-family: 'Vibur', cursive;
/*   the main font */
    font-family: 'Abel', sans-serif;
    opacity: .95;
/* background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%); */
}

.article1{
    font-family: Cabin;
    font-size:17px;
    margin-left:15%; 
    margin-right: 15%;
}
@media (max-width:991px){
    .article1{
    font-family: Cabin;
    font-size:17px;
    margin-left:0.5%; 
    margin-right: 0.5%;
}}

   
}
.hover-auteur a:hover{
    text-shadow: 2px 2px yellow;

}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
 .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 5px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.margin_card{
    margin-left:7.2%; 
    margin-right:7.2%;
} 

@media (max-width: 991px){
    .margin_card{
    margin-left:0px; 
    margin-right:0px;
}}

.form-group textarea{
    height: 80px;
}
.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    background-color:#E67E30
}

@media (max-width: 991px){
    .btn-share-dekstop{
    visibility: hidden;
}}

@media only screen
    and (min-device-width : 768px)
    and (min-device-width : 991px){
    #share_article{
    visibility: hidden;
}}

@media only screen
    and (max-device-width : 768px)
    and (max-device-width : 991px){
    .margin-text-share{
     margin-bottom:-15%;
}}

@media only screen
      and (max-device-width : 768px)
      and (max-device-width : 991px){
  .margin-top-main-page{
    margin-top:15%
  
  }}

  @media only screen
      and (min-device-width : 768px)
      and (min-device-width : 991px){
  .margin-top-main-page{
    margin-top:120px
  
  }}
</style>

<main style="background-image: url(/static/img/logo_pulucia.png);">

    <div class="container mb-3 margin-top-main-page" >

        <!--Grid row-->
        <div class="row ">

            <!--Grid column-->
            <div class="col-md-12 px-lg-5" >
                <!--Card-->
                <div class="card pb-5 mx-md-5 shadow-card" >
                    <div class="card-body bg-color"  >

                        <div class="container-fluid">

                            <!--Section heading-->
                            {% if text_d.poeme %}
                           <h1 class="text-center h1 pt-4 mb-3">
                                <strong style="font-family: 'Rouge Script', cursive; font-size:50px; font-weight: bold; color:rgb{{text_d.couleur}};">{{text_d.titre}}</strong>
                            </h1>
                            {% else %}

                            <h1 class="text-center h1 pt-4 mb-3">
                                <strong style="font-family: Cabin; color:rgb{{text_d.couleur}}">{{text_d.titre}}</strong>
                            </h1>
                            {% endif %}

                            <div class="row">
                                <div class="col-md-12 col-xl-12  justify-content-center">
                                    <p class="font-small dark-grey-text mb-1 text-center">
                                        Auteur: {{text_d.auteur}} </p><br>

                                    {% if text_d.poeme %}
                                    
                                        <p class="dark-grey-text article text-center" style=" font-size:16px;">{{text_d.poeme|linebreaksbr}}</p> 
                                    {% else %}
                                       <p class="dark-grey-text article1 text-justify" style="line-height:32px;">{{text_d.text|linebreaksbr}} </p>
                                    {% endif %}
                                    
                                    <hr>
                                    <div id='share_article' >
                                        {% include 'share-text.html' %}</p>
                                    </div> 

                                    <!-- script for save share text-->
                                    <script type="text/javascript">
                                        $(document).on('click', '.share_count', function(event){
                                                  event.preventDefault();
                                                  var pk = $(this).attr('value');
                                                  $.ajax({
                                                    type: 'POST',
                                                    url: '{% url  "share-text"  text_d.pk %}',
                                                    data: {'id':pk, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                                                    dataType: 'json',
                                                    success: function(response){
                                                      $('#share_article').html(response['form'])
                                                      console.log($('#share_article').html(response['form']));
                                                    },
                                                    error: function(rs, e){
                                                      console.log(rs.responseText);
                                                    },
                                                  });
                                            
                                                });
                                        </script>
                                        <!-- end script share-->
                                        <!-- script for share mobile-->
                                        <script>
                                            $(document).on('click', '.share_count', function(event){
                                    
                                            if (navigator.share) { 
                                            navigator.share({
                                                title: 'WebShare API Demo',
                                            // text: 'This post may or may not contain the answer to the universe',
                                                url: window.location.href,
                                            }).then(() => {

                                                console.log('Thanks for sharing!');
                                            })
                                            .catch(console.error);
                                            } else {
                                                shareDialog.classList.add('is-open');
                                            }
                                            });
                                            </script>
            
                                            <!-- share link on socio media-->
                                            <div class="sharethis-inline-share-buttons btn-share-dekstop" style="z-index:0"></div>
                                                <script type="text/javascript" 
                                        src="https://platform-api.sharethis.com/js/sharethis.js#property=5fe4098abf0cae00128712fb&product=inline-share-buttons" async="async">
                                     </script>
                                </div>
                               
                            </div>
                           
                        </div>
                    </div> <!--card-body-->
                    <div class="card-footer text-muted">
                        <div id='like-section' style="margin-left:7.2%;">
                            {% include 'text_like.html' %}</p>
                        </div>
                        <script type="text/javascript">
                            $(document).on('click', '#like', function(event){
                                      event.preventDefault();
                                      var pk = $(this).attr('value');
                                      $.ajax({
                                        type: 'POST',
                                        url: '{% url "like_text"  text_d.pk %}',
                                        data: {'id':pk, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                                        dataType: 'json',
                                        success: function(response){
                                          $('#like-section').html(response['form'])
                                          console.log($('#like-section').html(response['form']));
                                        },
                                        error: function(rs, e){
                                          console.log(rs.responseText);
                                        },
                                      });
                                    });
                            </script>
                      </div>
                      <!-- collapse commentaire-->
                      <div class="card-footer text-muted">
                      <div class="card margin_card ">
                        <div class="card-header"> 
                    <button class="accordion"><span style="font-size: 16px; font-weight: 550;">
                         <i class="fas fa-folder-open"></i> {{total_comment}} Commentaires </span>
                         <span style="float:right; font-size: 25px;"><i class="fas fa-caret-down"></i></span>
                    </button>
                       
                        <div class="panel lighten-3"  > 
                            
                                <div class="container  lighten-3 mb-0 pb-0" >
                                    <div class="row" id="modal-horaire" >
                                        {% include 'commentaire_form_text.html' %}
                                        </div>
                                       
                                        <div class="row" id="comment_articles" >
                                        {% include 'comment_text.html' %}

                                        </div>
                                </div>

                </div>

                  </div>
                  </div>

            </div><!--endcllapse-->
            <!--script collapse-->
            <script> 
                var acc = document.getElementsByClassName("accordion");
                var i;
                
                for (i = 0; i < acc.length; i++) {
                  acc[i].addEventListener("click", function() {
                    /* Toggle between adding and removing the "active" class,
                    to highlight the button that controls the panel */
                    this.classList.toggle("active");
                
                    /* Toggle between hiding and showing the active panel */
                    var panel = this.nextElementSibling;
                    if (panel.style.display === "block") {
                      panel.style.display = "none";
                    } else {
                      panel.style.display = "block";
                    }
                  });
                }
                </script>
                <!-- end script collapse-->
           
                      {% if total_auteur > 1 %}
                      <div class="card-footer bg-white">
                        <h4 class="text-center" style=" font-family: Pacifico;">Du meme Auteur</h4><hr>
                         
                          <div class="row ml-3">
                              
                            {% for auteur in auteur_m %}
                            <div class="col-5 col-lg-5 mt-2 " data-aos="zoom-in" style="margin-bottom: 10px; margin-left:4%;">
                                <div class="hover-auteur" >
                                    <a  href="{% url 'text1' auteur.pk %}"  style="font-size: 16px; font-family: Pacifico; color:rgb{{auteur.couleur}}; margin-bottom: 0px; padding: 
                                    2px; text-decoration:none"><i class="fas fa-star"></i> {{auteur.titre}} </a>
                                  </div>
                                
                              </div>

                              {% endfor %}

                          </div> 
                          <hr> 
                      </div>
                      {% endif %}

                </div> <!-- card-->
                <!--/Card-->
            </div>
            <!--/Grid column-->
        </div>
        <!--/Grid row-->
    </div>



    <section style="background-color: whitesmoke;">
        <div class="container-fluid grey lighten-3 mb-0 pb-0">
            <div class="container">
                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    {% for top in top %}
                    <div class="col-lg-4 col-md-12">
                        <h6 class="font-weight-bold mt-5 mb-3">TOP LU</h6>
                        <hr class="mb-5">
                        {% if top.poeme %}
                        <img src="/static/img/poesie.jpg" class="img-fluid" alt="Post">
                        {% else %}
                        <img src="/static/img/conte.jpg" class="img-fluid" alt="Post">
                        {% endif %}
                        <a href="{% url 'text1' top.pk %}" style="font-size: 19px; font-family: Pacifico; color:rgb{{top.couleur}};"> <h4>{{top.titre}}</h4></a>
                        {% if top.text %}
                        <p class="mt-1 mb-1 text-justify"><a href="{% url 'text1' top.pk %}" style="font-size: 17px; font-family: Pacifico;">{{ top.text|truncatewords:30 }}</a></p>
                       {% else %}
                       <p class="mt-1 mb-1 text-justify"><a href="{% url 'text1' top.pk %}" style="font-size: 17px; font-family: Pacifico;">{{ top.poeme|truncatewords:30 }}</a></p>
                        {% endif %}
                        <span class="badge">{{top.categorie}}</span>
                    </div>
                    {% endfor %}
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-4 col-md-6" style="background: white;">
                        <h6 class="font-weight-bold mt-5 mb-3">LES PLUS RECENTS</h6>
                        <hr class="mb-5">
                        <!--Grid row-->
                        {% for recent in recent %}
                        <div class="row mt-4">
                            <!--Grid column-->
                            <div class="col-4">

                                <!--Image-->
                                <div class="view overlay z-depth-1 mb-3">
                                    {% if recent.poeme %}
                                    <img src="/static/img/poesie.jpg" class="img-fluid" alt="Post">
                                    {% else %}
                                    <img src="/static/img/conte.jpg" class="img-fluid" alt="Post">
                                    {% endif %}
                                    <a>
                                        <div class="mask rgba-white-slight waves-effect waves-light"></div>
                                    </a>
                                </div>

                            </div>
                            <!--Grid column-->

                            <!--Second column-->
                            <div class="col-8 mb-1">

                                <!--Post data-->
                                <div class="">
                                    <p class="mb-1">
                                        <a href="{% url 'text1' recent.pk %}" class="text-hover font-weight-bold float-left text-decoration-none" 
                                                                            style="font-size: 19px; font-family: Pacifico; color:rgb{{recent.couleur}}; ">{{recent.titre}}</a>
                                    </p><br>
                                    <a href="{% url 'text1' recent.pk %}"><p class="font-small grey-text text-justify float-left " style="font-size: 15px; color:black;font-family: Pacifico;">
                                        {% if recent.poeme %}
                                        <em>{{recent.poeme|truncatewords:9}}</em>
                                        {% else %}
                                        <em>{{recent.text|truncatewords:9}}</em>
                                        {% endif %}<br>

                                            <span class="badge">{{recent.categorie}}</span>
                                    </p>
                                    </a>
                                </div>

                            </div>
                            <!--Second column-->

                        </div>
                        <hr>
                        {% endfor %}

                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-4 col-md-6">
                        <h6 class="font-weight-bold mt-5 mb-3">LES PLUS LUS</h6>
                        <hr class="mb-5">
                        <!--Grid row-->
                        {% for lu in plus_lus %}
                        <div class="row mt-4">
                            <!--Grid column-->
                            <div class="col-4">

                                <!--Image-->
                                <div class="view overlay z-depth-1 mb-3">
                                    {% if lu.poeme %}
                                    <img src="/static/img/poesie.jpg" class="img-fluid" alt="Post">
                                    {% else %}
                                    <img src="/static/img/conte.jpg" class="img-fluid" alt="Post">
                                    {% endif %}
                                    <a>
                                        <div class="mask rgba-white-slight waves-effect waves-light"></div>
                                    </a>
                                </div>

                            </div>
                            <!--Grid column-->

                            <!--Second column-->
                            <div class="col-8 mb-1">

                                <!--Post data-->
                                <div class="">
                                    <p class="mb-1">
                                        <a href="{% url 'text1' lu.pk %}" class="text-hover font-weight-bold float-left text-decoration-none" 
                                                                            style="font-size: 19px; font-family: Pacifico; color:rgb{{lu.couleur}}; ">{{lu.titre}}</a>
                                    </p><br>
                                    <a href="{% url 'text1' lu.pk %}"> <p class="font-small grey-text text-justify float-left " style="font-size: 15px; color:black;font-family: Pacifico;">
                                        {% if lu.poeme %}
                                        <em>{{lu.poeme|truncatewords:9}}</em>
                                        {% else %}
                                        <em>{{lu.text|truncatewords:9}}</em>
                                        {% endif %}<br>

                                            <span class="badge">{{lu.categorie}}</span>
                                    </p>
                                    </a>
                                </div>

                            </div>
                            <!--Second column-->

                        </div>
                        <hr>
                        {% endfor %}
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

            </div>
        </div>

    </section>

</main>

{% endblock %}
{% block js %}
<script src="{% static 'assets/js/modal-horaire.js' %}"></script>
{% endblock %}